{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am Razvan. I am passionate about a lot of things and technology is just one of them. Currently, I am seeking a position as junior software developer.</p>
        <p>I speak Python, HTML, CSS, SQL, and I’m using the Flask framework. Application, Web Development and Data Analysis experience gained during the Udemy Online Course.</p>
        <p>I possess previous engineering experience in a client-oriented business environment handling complex data.</p>
        <p>I am a 35 years old Electrical Engineer pursuing a career change as a Software Developer in IT / Software Development Industry. I am doing this because I found that I like programming and I am 100% determined to reach my goals.</p>
        <p>I've only been involved in personal development projects and don't have any professional work experience. If offered by any of your partners, it would be my first job in the IT Industry. My hands-on experience is mainly gained during the 100 Days of Code: The Complete Python Bootcamp online course.</p>
        <p>My 12 year professional experience is mainly in Electrical Engineering / Tendering / Data analysis with Excel.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
